<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<form method="POST" class="post-form" action="/update/{{student.Reg_no}}">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Update Details</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Register No:</label>
    <div class="col-sm-4">
        <input type="text" name="Reg_no" id="id_Reg_no" required maxlength="20" value="{{ student.Reg_no }}"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Student Name:</label>
    <div class="col-sm-4">
        <input type="text" name="stud_name" id="id_stud_name" required maxlength="100" value="{{ student.stud_name }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Student Email:</label>
    <div class="col-sm-4">
        <input type="email" name="stud_email" id="id_stud_email" required maxlength="254" value="{{ student.stud_email }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Student Mbile:</label>
    <div class="col-sm-4">
        <input type="text" name="stud_phone" id="id_stud_phone" required maxlength="15" value="{{ student.stud_phone }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-success">Update</button>
    </div>
  </div>
    </div>
</form>
</body>
</html>
