<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Student Records</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
{% block body_block%}
  <br><br><br><br>
  {%if student%}
  <h2 align="center" style="color:green">SUCCESS!</h2>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Register Number</th>
        <th>Student Name</th>
        <th>Student Email</th>
        <th>Student Mobile</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ student.Reg_no }}</td>
        <td>{{ student.stud_name }}</td>
        <td>{{ student.stud_email }}</td>
        <td>{{ student.stud_phone }}</td>
        <td>
            <a href="/edit/{{ student.id }}">Edit</a>
            <a href="/delete/{{ student.id }}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
{%else%}
    <h2 align="center" style="color:red"><b>{{insertme}}</b></h2>

{%endif%}
{% endblock %}
</body>
</html>
